@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/statusbar.css";
@import "components/navbar.css";
@import "components/screenheader.css";
@import "components/usercomponent.css";
@import "components/badge.css";
@import "components/iconrow.css";
@import "components/altscreenheader.css";
@import "components/nomobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
